#titulo{
    justify-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    background-color: linear-gradient(135deg, black , white , black , white, black );

}

body{
    background-color: white;


}

#subtitulo{
    background-color: linear-gradient(135deg, black , white , black , white, black );
    justify-content: center;
    text-align: center;
}
